**/.idea
**/.DS_Store

**/.gradle
**/*.iml

**/obj
**/bin

rider/.intellijPlatform
rider/build
rider/protocol/build
rider/classes
rider/nuget

gdscript/.intellijPlatform
gdscript/build
gdscript/protocol/build
gdscript/classes

community/.intellijPlatform
community/build
community/protocol/build
community/classes
community/nuget

*generated*
*Generated*

NuGet.Config

*.hprof
