.idea/
.gradle/
build/
/classes/
classesGd/
/godotSource/
godot-master/
/icons/
/php/icons/
/out/
/src/main/gen/gdscript/parser/GdParser.java
/php/*.tar.gz
/php/*.tar.xz
/php/godot-master
/php/sdk

# ignore generated backup files
*~