name: CI

on:
    pull_request:
    schedule:
        - cron: '0 0 * * *'  # every day at midnight

jobs:
    # Make sure we only invoke known gradle-wrapper.jar files
    gradleValidation:
        runs-on: ubuntu-latest
        steps:
            - name: Fetch Sources
              uses: actions/checkout@v4
            - name: Gradle Wrapper Validation
              uses: gradle/wrapper-validation-action@v3
    linux:
        needs: gradleValidation
        runs-on: ubuntu-latest
        env:
            LOCAL_ENV_RUN: true
        steps:
            - name: Fetch Sources
              uses: actions/checkout@v4
            - name: Setup .NET CLI
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: '8.0.x'
            - name: Build
              shell: bash
              working-directory: rider
              run: ./gradlew -PBuildConfiguration=Release -PbuildNumber=${{ github.run_number }} buildPlugin
