name: CI

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build Plugin
        shell: bash
        working-directory: rider-godot
        run: ./gradlew buildPlugin
      - name: Upload artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          path: rider-godot/build/distributions